.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

 .throw{

  outline: none;
  border: 10px solid #4ECCA3;
  font-size: 3rem;
  text-align: center;
font-family: 'Indie Flower', cursive;
  font-weight: 100;
  color: #4ECCA3;
  text-shadow: 3px 0 #393E46;
  border-radius: 15px;
  width: 300px;
  background-color:#393E46;
}

 .throwBtn{
margin-top: 5%;
margin-bottom: 5%;

}
footer {
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
